rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {


    match /stories/{document} {
      allow read: if true; //TODO: 公開範囲
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null;

      match /pages/{page} {
        function isOwnedStory() {
          return request.auth != null && request.auth.uid == get(/databases/$(database)/documents/stories/$(document)).data.userId
        }

        allow read: if true; //TODO: 公開範囲
        allow create, update, delete: if isOwnedStory()
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}